
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
  }
  
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
  }
  
  .logo-blocks {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: .5rem;
  }
  
  .logo-block {
    height: 50px;
    width: 50px;
  }
  
  .logo-text {
    color: #bbb;
    font-size: 2rem;
  }
  
  .red {
    background:#f25022;
    animation: Loading 6s infinite;
  }
  
  .blue {
    background: #00a4ef;
    animation: Loading 6s infinite;
    animation-delay: 3s;
  }
  
  .green {
    background: #7fba00;
    animation: Loading 6s infinite;
    animation-delay: 1.5s;
  }
  
  .orange {
    background: #ffb900;
    animation: Loading 6s infinite;
    animation-delay: 4.5s;
  }
  
  @keyframes Loading {
    0% {
      transform: rotate(0deg);
    }
  
    50% {
      transform: rotate(360deg);
    }
  
    100% {
      transform: rotate(0deg);
    }
  }